@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Metrophobic&family=Orienta&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title {
    @apply text-5xl font-bold font-catamaran;
  }

  .transform-ease-out {
    @apply transition-transform ease-in-out;
  }
}

* {
  scroll-behavior: smooth;
}

p {
  font-family: "Orienta", sans-serif;
}

/* ! I had to do this, this is for the timeline library  */

/* timeline button */
.kcEHvA {
  border-radius: 100px !important;
}

/* timeline outline */
.iuuOny {
  border-radius: 5px;
  height: max-content !important;
}

/* timeline step title */
.jipMEp {
  border-radius: 7px !important;
  padding: 0.7rem !important;
}

/* timeline card */
.ghFWKH {
  padding: 1rem;
}

/* timelien card title */
.fMgaIh {
  color: #646464 !important;
}

/* timeline card paragraph */
.ddRifQ {
  padding: 0 !important;
}

.ddRifQ p {
  color: #777777 !important;
}

/* readmore button */
.dyOXG {
  color: #66669c;
}

/* milestone icon */
.hLJehH {
  height: 30px !important;
  width: 30px !important;
}
